@model WMS.Models.Invent.Receiving

@{
    Layout = "_AdminlteNetcore";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            GSRN (Goods Service Receive Note)
            <small>@Model.ReceivingNumber</small>
        </h1>

    </section>
    <div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
            This page has been enhanced for printing. Click the print button at the bottom to print.
        </div>
    </div>
    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> GSRN:
                    <small class="pull-right">Date: @Model.ReceivingDate.ToString("dd-MMM-yyyy")</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                Receiver / Location
                <address>
                    <strong>@Model.PurchaseOrder.Branch.branchName</strong><br>
                    @Model.PurchaseOrder.Branch.street1<br>
                    @Model.PurchaseOrder.Branch.street2<br>
                    @Model.PurchaseOrder.Branch.city<br>
                    attn: @Model.PurchaseOrder.PicInternal
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                From Vendor
                <address>
                    <strong>@Model.Vendor.vendorName</strong><br>
                    @Model.Vendor.street1<br>
                    @Model.Vendor.street2<br>
                    @Model.Vendor.city<br>
                    attn: @Model.PurchaseOrder.PicVendor
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <b>PO Number</b> @Model.PurchaseOrder.PurchaseOrderNumber<br>
                <b>GSRN Number</b> @Model.ReceivingNumber<br />
                <b>PO Date:</b> @Model.PurchaseOrder.PurchaseOrderDate.ToString("dd-MMM-yyyy")<br>
                <b>GSRN Date:</b> @Model.ReceivingDate.ToString("dd-MMM-yyyy")<br>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Qty</th>
                            <th>ItemType</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ReceivingLine)
                        {
                            <tr>
                                <td>@item.QtyOrder</td>
                                <td>@item.ItemType.ItemCode</td>
                                <td>@item.ItemType.ItemTypeName</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <!-- accepted payments column -->
            <div class="col-xs-6">
                <p class="lead">Descriptions:</p>
                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                    @Model.PurchaseOrder.Description
                </p>
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">

                <a href="@Url.Action("PrintGSRN", new { id = Model.ReceivingId })" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>

            </div>
        </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
<!-- /.content-wrapper -->
