@model IEnumerable<WMS.Models.Invent.Shipment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-plane";
    ViewData["ListTitle"] = "Shipment List";
    ViewData["IndexInfo"] = "Shipment is a process of delivering the order to your Customer. ";
}


<table class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.ShipmentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipmentDate)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.CustomerPurchaseOrder)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.InvoiceNumber)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.ExpeditionType)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.ExpeditionMode)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrder)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.Warehouse)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Details" asp-route-id="@item.ShipmentId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.ShipmentId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipmentNumber)
            </td>
            <td>
                @item.ShipmentDate.ToString("dd-MMM-yyyy")
            </td>
            <td class="hidden">
                @Html.DisplayFor(modelItem => item.CustomerPurchaseOrder)
            </td>
            <td class="hidden">
                @Html.DisplayFor(modelItem => item.InvoiceNumber)
            </td>
            <td class="hidden">
                @Html.DisplayFor(modelItem => item.ExpeditionType)
            </td>
            <td class="hidden">
                @Html.DisplayFor(modelItem => item.ExpeditionMode)
            </td>
            <td class="hidden">
                @Html.DisplayFor(modelItem => item.Branch.branchId)
            </td>
            <td class="hidden">
                @Html.DisplayFor(modelItem => item.Customer.customerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesOrder.SalesOrderNumber)
            </td>
            <td class="hidden">
                @Html.DisplayFor(modelItem => item.Warehouse.warehouseId)
            </td>

        </tr>
        }
    </tbody>
</table>
