@model WMS.Models.Invent.ShipmentLine

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
}



<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QtyShipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QtyShipment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QtyInventory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QtyInventory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Branch.BranchId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemType.ItemTypeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shipment.ShipmentId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Warehouse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Warehouse.WarehouseId)
        </dd>
    </dl>
    
</div>
