@model IEnumerable<WMS.Models.Invent.Warehouse>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-cubes";
    ViewData["ListTitle"] = "Warehouse List";
    ViewData["IndexInfo"] = "Warehouse is commercial building for storage of goods or products. One Branch office can have single or multiple Warehouse.";
}


<table class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Branch.BranchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseName)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street1)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.Street2)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.Province)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.Country)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="tools">
                        <a asp-action="Edit" asp-route-id="@item.WarehouseId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                        <a asp-action="Details" asp-route-id="@item.WarehouseId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.WarehouseId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                    </div>
                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Branch.BranchName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WarehouseName)
                </td>
                <td class="hidden">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street1)
                </td>
                <td class="hidden">
                    @Html.DisplayFor(modelItem => item.Street2)
                </td>
                <td class="hidden">
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td class="hidden">
                    @Html.DisplayFor(modelItem => item.Province)
                </td>
                <td class="hidden">
                    @Html.DisplayFor(modelItem => item.Country)
                </td>

            </tr>
        }
    </tbody>
</table>
